.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background: white;
}

.product {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 250px;
}

.product img {
  width: 100%;
  height: auto;
}
